<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681171087973-jjrtr39f2b96tl75jt6cp599k4li75gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681171087973-jjrtr39f2b96tl75jt6cp599k4li75gn</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQ9W4miXzwn1T3sPiHV3X_MKFxIjIj6s</string>
	<key>GCM_SENDER_ID</key>
	<string>681171087973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fall.shamo</string>
	<key>PROJECT_ID</key>
	<string>shamo-9c0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>shamo-9c0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681171087973:ios:8624c6999e6c66047fcc8c</string>
</dict>
</plist>